<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Customer Data</title>
</head>
<body>
  <h1>Add Customer Data</h1>
  <form action="/customers/add" method="POST">
    <input type="text" name="name" placeholder="Customer Name" required><br><br>
    <input type="email" name="email" placeholder="Customer Email" required><br><br>
    <input type="tel" name="phone" placeholder="Customer Phone"><br><br>
    <button type="submit">Add Customer</button>
  </form>
</body>
</html>

