<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beauty CRM Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="container"> 
		<h1>Welcome to Beauty CRM</h1>
	<a href="/customers/add" class="buttontop">Nuevo cliente</a>
        <a href="/customers" class="buttontop">Clientes</a>
         <div class="button-container">
	   <a href="/info/rips" class="button">Ver Rips</a>
	   <a href="info/facturas" class="button">Ver facturas</a>
           <a href="/appointments" class="button">Agendar</a>
	</div>
	</div>
</body>
</html>

