<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View Information</title>
</head>
<body>
  <h1>View Customer and Appointment Information</h1>
  <p>This page will display all the saved customer and appointment data.</p>
</body>
</html>

