<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beauty CRM - Home</title>
  <!-- Link to CSS -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Bienvenido a Beauty CRM</h1>
      <h2>Traido por Acatas S.A.S </h2> 
      <p>Tu solucion de manejo de Rips, facturacion electronica, agendamiento y mas</p>
    </header>
	   <div id="loginForm" >
                <form action="/login" method="POST" class="form-container">
                  <label for="username">Username:</label>
                  <input type="text" id="username" name="username" required>

                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password" required>

                  <button type="submit" class="btn">Submit</button>
                </form>
           </div>
    <nav>
    <footer>
      <p>&copy; 2024 Beauty CRM. All rights reserved.</p>
    </footer> 
     </nav>
  </div>
  </div>
</body>
  <sript src="/js/main.js"></script> 
</html>
